html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
}

#map_canvas {
  float: left;
  width: 70%;
  height: 85%;
}

#sidebar {
  float: left;
  width: 30%;
  height: 85%;
  background: #ededed;
  overflow-y: scroll;
}

#header {
  height: 5%;
  background: #ededed;
}

#footer {
  clear: both;
  height: 10%;
  background: #ededed;
}

h1 {
  font-family: 'Yanone Kaffeesatz';
  font-size: 24px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.small {
  font-size: 10px;
}